.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.post-image {
  border-radius: 5px;
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.site-wrap:after {
  height: 0px;
}

.paginatin_area {
  padding-bottom: 4px;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.site-wrap {
  padding-bottom: 2.5rem;
}


.footer {
  width: 100%;
  height: 2.5rem;
  position: absolute;
  bottom: 0;
}
